/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.padding-vertical{
    padding-left: 2rem;
    padding-right: 2rem;
}

.flex {
    display: flex;
}
h2{
    font-size: 2.5rem;
}
a {
    text-decoration: none;
    color: white;
}

.btn {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px 60px;
    border-radius: 50px;
}

.btn.purple {
    background-color: #9792e4;
}
/******************
      HEADER 
********************/
.head-menu {
    color: white;
    height: 70px;
    background-color: #0084fd;
}
.actions{
    display: none;
}
.head-menu .container {
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

/**********************
        MAIN 
************************/
/* Section 1 ------------------------------------------ */
.top-columns{
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}

.columns, .strategic-content{
    flex-wrap: wrap;
}
.col{
    padding: 1rem 0; 
}

.general-info p{
    background-color: #b5ddff;
    border-radius: 20px;
}

.bottom-columns {
    padding-bottom: 1.3rem;
}

/* Section 2 -------------------------------------------*/
.strategic-planning {
    background-color: #9792e4;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.strategic-content {
    text-align: center;
}

.strategic-content.left {
    color: white;
}

.strategic-content.left img{

    /* TEST */
    height: 300px;
    width: 100%;
    background-color: darkorange;
}
.strategic-content.right{
    border-radius: 60px;
    background-color: white;
    padding-top: 3rem;
}
.strategic-content.right img{
    height: 250px;
    width: 200px;
    background-color: darkorange;
}

.strategic-content h2{
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.strategic-content h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.strategic-content p{
    padding-bottom: 3rem;
    margin: 0 auto;
    width: 85%;
}

/* Section 3 -------------------------------------------*/
.testimonial-intro, .testimonial-content {
    text-align: center;
    padding-top: 2rem;
}
.testimonial-content {
    padding-bottom: 5rem;
}

.testimonial-info{
    padding-top: 3rem;
}

.testimonial-content img{

    /* TEST */
    background-color: lightcoral;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.testimonial-content .col{
    border-radius: 60px;
    background-color: #9792e4;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.testimonial-intro h2{    
    color: #9792e4;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.testimonial-info p{
    margin: 0 auto;
    width: 85%;
    padding-top: 1rem;
}

/* Section 4 --------------------------- */
.benefits {
    background-color: #9792e4;
}
.benefits h3, .benefits h4{
    color: #9792e4;
}

.benefits h3 {
    font-size: 3.4rem;
    padding-top: 1.5rem;
}

.benefits h4 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.benefits .col-content{
    background-color: white;
    border-radius: 20px;
    padding-bottom: 3rem;
}
.benefits h2{
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.benefits .button{
    padding-top: 2.5rem;
}

.benefits .col-text{
    margin: 0 auto;
    width: 80%;
}







/************************
MEDIA QUERTY Mobile First
************************/

/* TABLET */
@media screen and (min-width: 768px) {

    /* MAIN/ */
    /* Section 1 */
    .columns {
        margin-right: -1rem;
        margin-left: -1rem;
    }

    .top-columns .col{
        margin-bottom: 0;
        width: calc(100% / 3);
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .top-columns .col:first-child{
        width: calc((100% / 3) * 2 );
    }

    /* Section 3 */
    .testimonial-info{
        padding-top: 2rem;
    }
    .testimonial-info .col{
        display: flex;
        padding-left: 1rem;
        
    }

    .testimonial-info .col p{
        width: 70%;
        text-align: left;
        
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {

    /* HEADER */
    .actions{
        display: block;
    }
    .menu-humburger {
        display: none;
    }

    /* MAIN */
    /* Section 2 */
    .strategic-planning {
        padding-top: 8rem;
    }
    .strategic-planning .container{
        display: flex;
        width: 85%;
        max-width: 1000px;
        justify-content: space-between;
    }
    .strategic-content{
        width: calc((100% / 2) - 2rem);
        
    }
    .strategic-content.left p{
        text-align: left;
    }

    .strategic-content.right{
        align-self: flex-end;
    }

    /* Section 3 */
    .testimonial-info .col p{
        width: 75%;
        padding-top: 2rem;
    }
}
