/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.padding-vertical{
    padding-left: 2rem;
    padding-right: 2rem;
}

.flex {
    display: flex;
}
h2{
    font-size: 2.5rem;
}
a {
    text-decoration: none;
    color: inherit;
}

.img{
    width: 100%;
}
.img-round{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.img-round img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.btn {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px 60px;
    border-radius: 50px;

}

.btn.purple {
    color: white;
    background-color: #9792e4;
}

.btn.white {
    background-color: white;
    color: #9792e4;
}

p {
    line-height: 1.9rem;
}

ul{
    list-style-type: none;
}

.col{
    padding: 1rem 0;
}

/******************
      HEADER 
********************/
.head-menu {
    color: white;
    height: 70px;
    background-color: #0084fd;
}
.actions{
    display: none;
}
.head-menu .container {
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.menu-humburger a{
    font-size: 1.5rem;
}

.actions li{
    padding-right: 2rem;
}


.actions .btn{
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 1rem;
    padding: 7px 15px;
}

/**********************
        MAIN 
************************/
/* Section 1 ------------------------------------------ */
.top-columns{
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}

.columns, .strategic-content{
    flex-wrap: wrap;
}
.general-info .col{
    padding: 1rem 0; 
    
}
.top-columns-content{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.col-background {
    background-color: #b5ddff;
    border-radius: 20px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.demo .top-columns-content{
    text-align: left;
}

.bottom-columns {
    padding-bottom: 1.3rem;
}

.clear-code i,
.web-designer i,
.developer i,
.branding i{
    color: #0084fd;
    font-size: 80px;
    padding-bottom: 2rem;
}

.columns h3{
    color: #0084fd;
    padding-bottom: 1.5rem;
    font-size: 1.9rem;
}

.top-columns-content .button{
    padding-top: 2rem;
}

.top-columns-content .btn{
    background-color: #0084fd;
    color: white;
}
.top-columns-content i {
    padding-right: 0.5rem;
}

.top-columns-img img{
    margin: 0 auto;
    width: 100%;
    padding-top: 3rem;
}


/* Section 2 -------------------------------------------*/
.strategic-planning {
    background-color: #9792e4;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.strategic-content {
    text-align: center;
}

.strategic-content p{
    padding-bottom: 1.5rem;
}

.strategic-content h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.strategic-content.left {
    color: white;
}

.strategic-content.left img{
    width: 100%;
}

.strategic-content.left{
    text-align: left;
}

.strategic-content.left h2{
    padding-top: 4rem;
    padding-bottom: 2rem; 
    font-size: 2rem;  
}

.strategic-content.right h2{
    font-size: 2rem;
}

.strategic-content.right{
    border-radius: 60px;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;  
}

.strategic-content.right p{
    width: 85%;
    margin: 0 auto;
}
.strategic-content.right img{
    width: 100%;
}

.strategic-planning .button a{
    background-color: #9792e4;
    padding: 0.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    line-height: 12px;
}


/* Section 3 -------------------------------------------*/
.testimonial-intro, .testimonial-content {
    text-align: center;
    padding-top: 2rem;
}
.testimonial-content {
    padding-bottom: 5rem;
}

.testimonial-info{
    padding-top: 3rem;
}

.container-testimonial{
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial-content .col{
    border-radius: 60px;
    background-color: #9792e4;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.testimonial-intro h2{    
    color: #9792e4;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.testimonial-info p{
    margin: 0 auto;
    width: 85%;
    padding-top: 1rem;
   
}

/* Section 4 --------------------------- */
.benefits {
    background-color: #9792e4;
    padding-bottom: 3rem;
}
.benefits h3, .benefits h4{
    color: #9792e4;
}

.benefits h3 {
    font-size: 3.4rem;
    padding-top: 1.5rem;
}

.benefits h4 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.benefits .col-content{
    background-color: white;
    border-radius: 20px;
    padding-bottom: 3rem;
}
.benefits h2{
    color: white;
    padding-top: 4rem;
    padding-bottom: 2.8rem;
    text-align: center;
}
.benefits .button{
    padding-top: 2.5rem;
}

.benefits .col-text{
    margin: 0 auto;
    width: 80%;
}


/* Section 5 --------------------------------------*/
.about-us {
    padding-top: 4rem;
    padding-bottom: 3rem;
    position: relative;
}

.about-us h2{
    color: #9792e4;
    padding-bottom: 2rem;
}

.about-us-text p{
    padding-bottom: 3rem;
    line-height: 2.5rem;
}
.about-us.right{
    padding-top: 0;
}

.about-us h3{
    color: #9792e4;
    font-size: 1.8rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.about-us-text i{
    color: #9792e4;
    font-size: 60px;
    position: absolute;
    left: 9.5rem;
    top: 0;
}

.about-us .btn{
    padding: 8px 20px;
    font-weight: 300;
}

.about-us .button i{
    padding-right: 0.5rem;
}

/* Section 6 -----------------------------------*/
.get-started {
    background-color: #9792e4;
    color: white;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.get-started-content{
    text-align: center;
}

.get-started-text span{
    font-size: 1.2rem;
}

.get-started-text h2{
    font-size: 2.16rem;
    padding-top: 1.5rem;
}


.get-started-text h3 {
    font-size: 4rem;
    color: #fdc15f;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}
.get-started-content .button {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.get-started-content .btn{
    padding: 20px 90px;
    font-size: 1.2rem;
}

.copyright p{
    font-size: 0.9rem;
}

.copyright a{
    text-decoration: underline;
}

/*********************
        FOOTER 
***********************/

footer{
    background-color:  #333;
}
.footer-content{
    color: white;
    text-align: center;
    font-size: 0.85rem;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}

.footer-content p{
    line-height: 1.3rem;
    padding-bottom: 3.7rem;
}

.policy a{
    color: #9792e4;
    text-decoration: underline;
}




/************************
MEDIA QUERTY Mobile First
************************/

@media screen and (min-width: 532px) {
    .about-us-text i{
        bottom: 26rem;
    }
}
@media screen and (min-width: 694px) {
    .about-us-text i{
        bottom: 23.5rem;
    }
}


/* TABLET */
@media screen and (min-width: 768px) {

    /* MAIN/ */
    /* Section 1 */
    .columns {
        margin-right: -1rem;
        margin-left: -1rem;
    }

    .top-columns .col{
        margin-bottom: 0;
        width: calc(100% / 3);
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .top-columns .col:first-child{
        width: calc((100% / 3) * 2 );
    }

    .top-columns-img img{
        width: 65%;
        padding-top: 3rem;
    }

    /* Section 3 */
    .testimonial-info{
        padding-top: 2rem;
    }
    .testimonial-info .col{
        display: flex;
        padding-left: 1rem;
        
    }

    .testimonial-info p{
        width: 65%;
        text-align: left;
        padding-top: 2rem;
        
    }

    /* Section 4 */
    .benefits {
        padding-bottom: 3.5rem;
    }

    .benefits h2{
        padding-bottom: 2.5rem;
    }

    .benefits .benefits-columns{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits-columns .col{
        width: calc((100% / 2) - 1rem);
    }

    /* Section 5 */
    .about-us {
        padding-top: 5rem;
    }

    .about-us-content{
        display: flex;
        margin: 0 auto;
        width: 90%;
        max-width: 900px;
        
    }

    .about-us-text p{
       width: 80%;
    }

    .about-us-text i{
        left: 9.5rem;
    }

    .about-us.right a{
        font-size: 0.9rem;
    }

    .about-us.right {
        padding-top: 0rem;
    }

    .about-us-text h3{
       font-size: 1.5rem;
    }
    .about-us-text h2{
        font-size: 4rem;
     }

     /* Section 6 */
     .get-started {
        
     }

     .get-started-content {
        margin: 0 auto;
        width: 70%;
     }

     .get-started-text h2{
         font-size: 2.7rem;
     }

     .get-started-text p{
         margin: 0 auto;
         width: 85%;
         max-width: 450px;
     }

     /* FOOTER */
     .footer-content p{
         width: 50%;
        max-width: 370px;
        margin: 0 auto;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {

    /* HEADER */
    .actions{
        display: block;
    }
    .menu-humburger {
        display: none;
    }

    /* MAIN */
    /* Section 2 */
    .strategic-planning {
        padding-top: 8rem;
    }
    .strategic-planning .container{
        display: flex;
        width: 85%;
        max-width: 1000px;
        justify-content: space-between;
    }
    .strategic-content{
        width: calc((100% / 2) - 2rem);
        
    }

    .demo .top-columns-content{
        display: flex;
        width: 90%;
    }

    .demo .top-columns-content img{
        width: 270px;
    }

    .strategic-content.left p{
        text-align: left;
    }

    .strategic-content.right{
        align-self: flex-end;
    }

    .strategic-content.right img{
        width: 70%;
    }

    .strategic-content.right h2{
        font-size: 1.5rem;
    }



    /* Section 3 */
    .testimonial-info p{
        width: 75%;
        padding-top: 3rem;
    }

    /* Section 4 */
    .benefits-columns .col{
        width: calc((100% / 3) - 1rem);
    }
}
